<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo</title>
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css" />
  </head>
  <body>
    
    <div id="wrapper">
      <div id="information">
        <input type="text" id="txtHoTen" placeholder="Ho Ten" />
        <input type="text" id="txtEmail" placeholder="Email" />
        <input type="text" id="txtSoDT" placeholder="DienThoai" />
        <input type="button" id="btnRegister" value="Send" />
        </div>
    <div id="listUsers">
      <h3>Danh Sach Hoc Vien</h3>
      <div id="ds">
        
      </div>
    </div>
  </div>
    
  </body>
</html>
